<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Items</title>
</head>
<body>
    <div>
        <form method="POST">
            <label for="url_tenno">Tenno Zone Link:</label>
            <input type="text" name='url_tenno'>
            <input type="submit" value="Load Items">
        </form>
    </div>

    {% if items: %}
        {% for item,orders in items.items(): %}
        <div>
            <h1>
                <a href="https://warframe.market/items/{{orders[2]}}">{{item}}</a>
            </h1>
            <p>
                Buy Orders: {{orders[1]}}		
            </p>
            <p>
                Sell Orders: {{orders[0]}}		
            </p>
        </div>
        {% endfor %}
    {% endif %}
</body>
</html>
